body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(135deg, purple 20%, orange 80%);
}

.menu{
    background: lightgray;
    width: 300px;
    opacity: .3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.menu .fa-angle-down{
    transition: transform .2s;
}

.menu p a{
    margin: 0 10px;
    display: flex;
    align-items: center;
    font: bold;
    text-decoration: none;
}

.social-lists{
    background: lightgray;
    width: 300px;
    padding: 10px;
    opacity: .3;
    list-style-type: none;
}

.social-lists li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: padding 0.2s linear;
    font: bold;
}

.social-lists li:hover{
    background: darkgray;
    border-radius: 5px;
    padding-left: 10px;
}

.social-lists li .fa-brands{
    margin: 0 10px;
}

.rotate .fa-angle-down{
    transform: rotate(180deg);
}

.hide{
    visibility: hidden;
}